@using Microsoft.eShopWeb.ViewModels
@{
    ViewData["Title"] = "Checkout Complete";
    @model BasketViewModel
}

<div class="container">
    <h1>Thanks for your Order!</h1>

    <a asp-controller="Catalog" asp-action="Index">Continue Shopping...</a>
</div>
