@page
    @model CheckoutModel
@{
    ViewData["Title"] = "Checkout Complete";
}

<div class="container">
    <h1>Thanks for your Order!</h1>

    <a asp-page="/Index">Continue Shopping...</a>
</div>
